*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  font: 14px/20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label{
  margin: 20px 0 5px;
  display: block;
}
input{
  background: rgba(0,0,0,0.5);
  height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
  display: block;
}

input[type="submit"]{
  display: inline-block;
  padding: 0 20px;
  background: #00B7FF;
  color: #000;
}

ul{
  list-style: none;
}

ul li {
  margin: 10px 0;
  display: block;
}

header{
  max-width: 100%;
  background: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

header p {
  text-align: right;
}

header p a{
  display: block;
}

footer{
  background: #eaeaea;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

section{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
}